@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

#title {
    text-align: center;
}

#history {
    display: flex;
    flex-direction: column-reverse;
}

body {
    font-family: "Space Grotesk", sans-serif;
}

code {
    font-family: "Roboto Mono", monospace;
}
